.sidenav {
    width: 7vw;
    height: 100vh;
    border: 1px solid black;
    background-color: var(--primary);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidenav__item {
    height: 6rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.sidenav__item--icon {
    color: lightblue;
    transition: 1s ease;
}

.sidenav__item--icon:hover {
    color: white;
}

/* active link color */
.active {
    color: aqua;
}
