.cities {
    display: flex;
}

/* left side container */
.citylist__wrapper {
    width: 30vw;
}

.cities__rows {
    overflow-y: auto;
    height: 90vh;
}

/* right side container */
.wetherinfo__wrapper {
    width: 50vw;
}

.cities__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 2px solid lightgrey;
}

/* scrollbar customization */
.cities__rows::-webkit-scrollbar {
    width: 7px;
}

.cities__rows::-webkit-scrollbar-track {
    background-color: grey;
}

.cities__rows::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 20px;
}